<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DownloadSuffix" value="WcfData" />
    <add key="DownloadTempDir" value=".\" />
    <add key="UploadPort" value="5668" />
    <add key="localAddress" value="net.tcp://localhost:12333/" />
    <add key="RemoteAddress" value="net.tcp://win-3jd7guirb36:12886/" />
    <add key="CloudAddress" value="net.tcp://win-3jd7guirb36:12886/" />
  </appSettings>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="nonSecurityTestBinding">
          <security mode="None"/>
        </binding>
        <binding name="pwSecurityTcpBinding">
          <security mode="None"/>
          <!--<security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>-->
        </binding>
        <binding name="NetTcpBinding_IFileUpdateService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Client2Server.Interfaces.FileUpdateService">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:5567/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="net.tcp://localhost:5566/"
                  binding="netTcpBinding"
                  bindingConfiguration="nonSecurityTestBinding"
                  contract="Client2Server.Interfaces.IFileUpdateService"/>
        <!-- Metadata Endpoints -->
        <!-- 元数据交换终结点供相应的服务用于向客户端做自我介绍。 -->
        <!-- 此终结点不使用安全绑定，应在部署前确保其安全或将其删除-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>