<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DownloadSuffix" value="WcfData" />
    <add key="DownloadTempDir" value=".\" />
    <add key="UploadPort" value="5668" />
    <add key="RemoteAddress" value="net.tcp://win-3jd7guirb36:12886/" />
    <add key="CloudAddress" value="net.tcp://win-3jd7guirb36:12886/" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IRemoteOnlineService">
          <security mode="None" />
        </binding>
        <binding name="nonSecurityTestBinding">
          <security mode="None" />
        </binding>
        <binding name="pwSecurityTcpBinding">
          <security mode="None" />

        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:5566/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRemoteOnlineService" contract="WCF.RemoteOnlineService.IRemoteOnlineService" name="NetTcpBinding_IRemoteOnlineService" />
      <endpoint address="net.tcp://win-3jd7guirb36:12886/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRemoteOnlineService" contract="WCF.RemoteOnlineService.IRemoteOnlineService" name="NetTcpBinding_IRemoteOnlineService1" />
    </client>
    <services>
      <service behaviorConfiguration="customAuthentication" name="Client2Server.Interfaces.FileUpdateService">
        <!--<endpoint address="net.tcp://localhost:5668"
                  binding="netTcpBinding"
                  bindingConfiguration="pwSecurityTcpBinding"
                  contract="Client2Server.Interfaces.IFileUpdateService" />
        <endpoint address="net.tcp://win-3jd7guirb36:12888"
                  binding="netTcpBinding"
                  bindingConfiguration="pwSecurityTcpBinding"
                  contract="Client2Server.Interfaces.IFileUpdateService"  />-->
        <!--<endpoint address="net.tcp://localhost:5667/meta"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
        <endpoint address="net.tcp://WIN-3JD7GUIRB36:5669/meta"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customAuthentication">
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>

          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
        </behavior>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="IgoreSvcCertValidation">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>